<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <p class="heading" >Login</p>
        <form action="/login" method="post">
        <div class="box">
            <p>Username</p>
            <div>
                <input type="name" name="name"  placeholder="Enter Your Username">
            </div>
        </div>
        <div class="box">
            <p>Password</p>
            <div>
                <input type="password" name="password"  placeholder="Enter Your Password">
            </div>
        </div> 
        <button class="loginBtn" type="submit">Login</button>
        </form> 
        <p class="text">Dont have an account? <a href="/signup">Sign up</a></p>
    </div>
</body>
</html>