<div class="container">
    <p class="heading">Sign up</p>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="pass">
        <input type="submit">
    </form>
    </form>
    </div>